{% set _entity_config = app.request.query.get('entity') ? harmony_admin_entity(app.request.query.get('entity')) %}
{% extends [
    _entity_config.templates.layout|default(''),
    harmony_admin_config('design.templates.layout'),
    '@HarmonyAdmin/default/layout.html.twig'
] %}

{% block body_class 'error' %}
{% block page_title %}{{ 'errors'|transchoice(1, {}, 'HarmonyAdminBundle') }}{% endblock %}

{% block content %}
    <section id="main" class="content">
        <div class="error-description">
            <h1><i class="fa fa-exclamation-circle"></i> {{ block('page_title') }}</h1>

            <div class="error-message">
                {{ exception.publicMessage|trans(exception.translationParameters, 'HarmonyAdminBundle') }}
            </div>
        </div>
    </section>
{% endblock %}
