<a href="#" class="harmony_admin-thumbnail" data-featherlight="#harmony_admin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ asset(value) }}">
</a>

<div id="harmony_admin-lightbox-{{ uuid }}" class="harmony_admin-lightbox">
    <img src="{{ asset(value) }}">
</div>
