<div class="sf-toolbar-info-piece">
  {% if 'admin' == app.request.attributes.get('_route') %}
    <b>Site</b>
    <span>
      <a href="/">
        View
      </a>
    </span>
  {% else %}
    <b>Dashboard</b>
    <span>
      <a href="{{ path('admin') }}">
        Manage
      </a>
    </span>
  {% endif %}
</div>