{% extends '@HarmonyAdmin/default/layout.html.twig' %}

{% block main %}
  {% for bundle, alias in extensions %}
    <h2>
      {{ bundle }} <small>({{ alias }})</small>
      <a href="{{ path('admin_settings_config_add', { alias: alias }) }}" class="btn btn-primary">Add</a>
    </h2>
  {% endfor %}
{% endblock %}
