{% form_theme form with harmony_admin_config('design.form_theme') %}

{% extends '@HarmonyAdmin/default/layout.html.twig' %}

{% block content_title -%}
  {{ (tag ~ '_settings.title')|trans({}, domain=trans_domain)|raw }}
{%- endblock %}

{% block main %}
  {% block model_form %}
    {{ form_start(form, { 'attr': { 'class': 'card' } }) }}
    <div class="card-body">
      {{ form_widget(form.settings) }}
    </div>
    {{ form_end(form) }}
  {% endblock model_form %}
{% endblock %}