{% form_theme form with harmony_admin_config('design.form_theme') %}

{% extends '@HarmonyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'HarmonyAdminBundle' %}

{% block content_title %}
  {% spaceless %}
    {{ (tag ~ '_settings.title')|trans|raw }}
  {% endspaceless %}
{% endblock %}

{% block main %}
  {% block entity_form %}
    {{ form_start(form, { 'attr': { 'class': 'card' } }) }}
    <div class="card-body">
      {{ form_widget(form.settings) }}
    </div>
    {{ form_end(form) }}
  {% endblock entity_form %}
{% endblock %}